$primary-color : #4B49F2 ;
.cards{
  border: $primary-color solid 1px;
  border-radius: 15px;
  padding: 1%;
  margin: 5% 0 ;
  width:  clamp(250px, 25vw, 350px); ;
  height: 100%;
  position: relative;

  .image{
    display: flex;
    justify-content: center;
    padding: 2% 0;
    img{
      border: #4B49F2 solid 1px;
      border-radius: 15px;
      width: 95%;
      margin: 2%;
    }
  }
  .cards-body{
    text-align: center;
  }

  .cards-date{
    margin: 4%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .enroll{
    position: absolute;
    margin: 2%;
    bottom: 0;
    right: 0;
    font-weight: bold;
  }
}
