<div class="cards">
  <div class="image container-fluid">
    <img
      src="https://imgs.search.brave.com/2LN9VPTL3pmvkT8C2bDNmby4Z_DMq4zA9_LJ5UtIn44/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYW1v/LmdpdGh1YnVzZXJj/b250ZW50LmNvbS9m/YTYxMWI3YTNiYjQ3/MDRlNTg0Y2NiYTIy/ZTlhZmZiOGUyNWRl/N2FmYzEzZWMyN2Yw/ZDY4MzMzOWQ1M2Fh/MGE3LzY4NzQ3NDcw/NzMzYTJmMmY2NDMz/NzY2OTY3NmQ3MDY4/NjE2NDYyNmUzOTYy/MmU2MzZjNmY3NTY0/NjY3MjZmNmU3NDJl/NmU2NTc0MmY2MzZm/NzU3MjczNjUyZDY5/NmQ2MTY3NjU3MzJm/NmM2MTcyNjc2NTJk/Njk2ZDYxNjc2NTcz/MmY2MTZlNjc3NTZj/NjE3MjJkNzM2OTY3/NmU2MTZjNzMyZDYz/NmY3NTcyNzM2NTJl/NmE3MDY3"
      alt="" class="img-fluid" draggable="false">
  </div>
  <div class="cards-body">
    <h5 class="cards-title">{{ course.titre }}</h5>
    <p class="cards-text">{{ course.description }}</p>
    <a href="#" class="btn btn-primary">Enroll Now</a>
  </div>
</div>
