<app-navbar></app-navbar>
<div class="desc container-fluid">
  <div class="row">
    <div class="illu col-md-5">
      <img src="assets/illu_courses.jpg" alt="" class="img-fluid" draggable="false">
    </div>
    <div class="text_desc col-md-7">
      <h1>Embrace the Future of Learning with DEVPATH</h1>
      <p class="mt-5">
        Dive into a world of knowledge and skills with our interactive online courses, tailored to meet all your
        educational needs. Whether you're a professional looking to enhance your skills, a student aspiring for academic
        excellence, or simply a curious learner eager to explore new subjects, we have something for everyone.
      </p>
    </div>
  </div>
</div>
<div class="courses container-fuid">
  <!-- Filter by Fild-->
  <div class="filter-container">
    <div class="filter">
      <h6>FILTER BY</h6>
    </div>
  </div>

  <div class="cours">
    <!-- Search Bar -->
    <input type="text" class="form-control" placeholder="What new knowledge would you like to gain today?"
      [(ngModel)]="searchTerms" (input)="filterCourses()">

    <!-- Courses Cards -->
    <div class="courseCards">
      @if (filterdCourses.length == 0) {
      <div class="alert alert-light w-100 text-center">
        <p>No courses found</p>
      </div>
      }@else{
      @for (course of getPaginatedCourses(); track $index) {
      <app-course-cared [course]="course" class="cards"></app-course-cared>
      }
      }
    </div>


    <!-- Paginaton -->
    <div class="pagination-controls text-center mt-5">
      <button class="btn" (click)="prevPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <span class="mx-3">Page {{ currentPage }} / {{ getTotalPages() }}</span>
      <button class="btn" (click)="nextPage()" [disabled]="currentPage >= getTotalPages()">
        Next
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>
