<nav class="navbar sticky-top">
    <div class="logo">
        <a routerLink="/"><img src="assets/DEVPATH.png" alt="devpath logo" /></a>
    </div>
    <div class="links">
        <ul>
            <li><a routerLink="/roadmaps" >Roadmaps</a></li>
            <li><a routerLink="/courses">Courses</a></li>
            <li><a routerLink="/about-us">About us</a></li>
        </ul>
    </div>
    <div class="auth">
        <button class="btn signin" routerLink="/auth">connexion</button>
    </div>
</nav>
