<app-navbar></app-navbar>

<div class="container">
  <div class="left">
    <div class="card-grid">
      <div class="card blue">
        <i class="icon">🔨</i>
        <p>Structured Learning Paths</p>
      </div>
      <div class="card red">
        <i class="icon">🎯</i>
        <p>Personalized Recommendations</p>
      </div>
      <div class="card blue">
        <i class="icon">📚</i>
        <p>Interactive Courses</p>
      </div>
      <div class="card green">
        <i class="icon">🚀</i>
        <p>Career Growth Support</p>
      </div>
    </div>
  </div>

  <div class="right">
    <h2>About us</h2>
    <p>
      At DevPath, we are committed to guiding developers through their learning journey
      with a structured and engaging platform. Our mission is to make learning efficient,
      accessible, and enjoyable.
    </p>
    <img src="assets/image.png" >
  </div>
</div>

<app-footer></app-footer>
