<body>
  <div class="page-wrapper">
    <app-navbar></app-navbar>

    <main class="content-wrapper">
      <h1>Your courses</h1>
      <div class="course-grid">
        <div class="course-card">
          <div class="logo-block">
            <img src="assets/symfony.png" >
          </div>
          <div class="course-info">
            <p>Development</p>
            <h3>Begin with Symfony</h3>
            <div class="progress">
              <span class="circle"></span>
              <span>11% of progression</span>
            </div>
          </div>
        </div>

        <div class="course-card">
          <div class="logo-block">
            <img src="assets/angular.png" >
          </div>
          <div class="course-info">
            <p>Development</p>
            <h3>Begin with Angular</h3>
            <div class="progress">
              <span class="circle"></span>
              <span>11% of progression</span>
            </div>
          </div>
        </div>

        <div class="course-card">
          <div class="logo-block">
            <img src="assets/python.png" >
          </div>
          <div class="course-info">
            <p>Development</p>
            <h3>Begin with Python</h3>
            <div class="progress">
              <span class="circle"></span>
              <span>11% of progression</span>
            </div>
          </div>
        </div>
        <div class="course-card">
          <div class="logo-block">
            <img src="assets/images.png" alt="SpringBoot">
          </div>
          <div class="course-info">
            <p>Development</p>
            <h3>Begin with SpringBoot</h3>
            <div class="progress">
              <span class="circle"></span>
              <span>11% of progression</span>
            </div>
          </div>
        </div>
 

 
        
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</body>
