<!-- HTML Template -->
<app-navbar></app-navbar>
<div class="roadmap-container">
  <h1 class="roadmap-title">Developer Roadmap</h1>
  <p class="description">
    DEVPATH is a community effort that provides guides and other educational content to help guide
    developers in picking up a path and directing their learning.
  </p>

  <div class="tabs">
    <span class="tab">Role-based Roadmaps</span>
    <span class="tab">Skill-based Roadmaps</span>
    <span class="tab">Best Practices</span>
  </div>

  <div class="roadmap-grid">
    @for (roadmap of roadmaps; track $index) {
    <a routerLink="/roadmaps/{{roadmap.id}}" routerLinkActive="active" style="text-decoration: none;">
      <div class="card">
        <span class="card-title">{{ roadmap.titre }}</span>
        <div class="card-actions">
          <span class="bookmark">
            <i class="fas fa-bookmark"></i>
          </span>
        </div>
      </div>
    </a>
    }
  </div>
</div>

<app-footer></app-footer>
