<app-navbar></app-navbar>
<div>
  <div class="course-container">
    <div class="sidebar">
      <div class="menu-header">
        <button class="back-button">
          <i class="arrow-left"></i> Main menu
        </button>
      </div>

      <div class="course-info">
        <h2 class="course-number">{{ currentVideoIndex + 1 }}</h2>
        <h3 class="course-title">{{ course_videos[currentVideoIndex]?.titre }}</h3>

        <div class="course-meta">
          <span>Course - {{ course_videos.length }} videos</span>
        </div>

        <div class="progress-container">
          <div class="progress-circle">
            <div class="progress-indicator" [style.strokeDashoffset]="progressionPercentage"></div>
          </div>
          <span class="progress-text">{{ progressionPercentage }}% of progression</span>
        </div>
      </div>

      <!--Course Navigation-->
      <div class="course-navigation">
        <h4 class="nav-title">Course overview</h4>
        <ul class="nav-items">
          @if (isRegistered == false) {
            <li class="nav-item" [class.active]="isRegistered == false">Start Now</li>
          }

          @for (video of course_videos; track video.id ;let i = $index) {
          <li class="nav-item" [class.active]="i === currentVideoIndex && isRegistered == true">
            {{ video.titre }}
          </li>
          }

        </ul>
      </div>
    </div>

    <!--Content Area-->
    <div class="content-area mt-5">
      @if (isRegistered == false) {
        <app-course-overview [courseId]="courseId"></app-course-overview>
      }@else {
        <h1 class="content-title">{{ course_videos[currentVideoIndex]?.titre }}</h1>

        <!-- Video Player Component -->
        @if (course_videos.length > 0) {
        <app-youtubeplayer [videoUrl]="course_videos[currentVideoIndex]?.url"></app-youtubeplayer>

        <!-- Navigation Buttons -->
        <div class="navigation-buttons">
          <button
            class="nav-button prev-button"
            (click)="goToPrevious()"
            [disabled]="currentVideoIndex === 0">
            <i class="arrow-left"></i> Previous
          </button>

          <button
            class="nav-button next-button"
            (click)="onNextClick()">
            <ng-container *ngIf="!isLastVideo">
              Next <i class="arrow-right"></i>
            </ng-container>
            <ng-container *ngIf="isLastVideo">
              Finish
            </ng-container>
          </button>
        </div>

        }
      }
    </div>

    <!--Notes Area-->
    <div class="notes-panel">
      <h4 class="notes-title">ADD A NOTE :</h4>
      <textarea class="notes-content" contenteditable="true" placeholder="Click here to add notes..."></textarea>
    </div>
  </div>
</div>
<app-footer></app-footer>
