<app-navbar></app-navbar>

<section class="hero">
  <div class="hero-text">
    <h1>Learn a New Skill<br />Everyday, Anytime,<br />and Anywhere.</h1>
    <p>
      Covering all development domains to guide you to become what you want in the future.
      Where you can roadmaps and courses
    </p>
    <div class="hero-buttons">
      <a routerLink="courses" class="primary">Start Now</a>
      <a routerLink="aboutus" class="secondary">How it works</a>
    </div>
  </div>
  <div class="hero-image">
    <img src="../../assets/hero.png" alt="Hero Illustration" />
  </div>
</section>

<section class="stats">
  <div><strong>150+</strong><br />Courses to choose from</div>
  <div><strong>200+</strong><br />Students Trained</div>
  <div><strong class="red">31+</strong><br />Roadmaps to follow</div>
</section>

<section class="latest-courses">
  <h2>Latest Courses</h2>
  <div class="courses-grid">
    @for (course of recentCourses; track $index) {
      <app-course-cared [course] = "course"></app-course-cared>
    }
  </div>
</section>

<app-footer></app-footer>
